{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>Review Website</title>
		<meta name="description" content="Perspective Page View Navigation: Transforms the page in 3D to reveal a menu" />
		<meta name="keywords" content="3d page, menu, navigation, mobile, perspective, css transform, web development, web design" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="{% static 'compare/css/normalize.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'compare/css/demo.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'compare/css/component.css' %}" />
		<!-- csstransforms3d-shiv-cssclasses-prefixed-teststyles-testprop-testallprops-prefixes-domprefixes-load --> 
		<script src="{% static 'compare/js/modernizr.custom.25376.js' %}"></script>
	</head>
	<body>
		<div id="perspective" class="perspective effect-rotateleft">
			<div class="container">
				<div class="wrapper"><!-- wrapper needed for scroll -->
					<!-- Top Navigation -->
					<header class="codrops-header">
						<h1>Our Gadget Site <span>Click to see the menu</span></h1>	
					</header>
					<div class="main clearfix">
						<div class="column">
							<p><button id="showMenu">Show Menu</button></p>
							<p>Click on this button to see the content and much more</p>
						</div>
						<div class="column">
							<nav class="codrops-demos">
								
							</nav>
						</div>
						
					</div><!-- /main -->
				</div><!-- wrapper -->
			</div><!-- /container -->
			<nav class="outer-nav right vertical">
				<a href="#" class="icon-home">Home</a>
				<a href="#" class="icon-news">News</a>
				<a href="{% url 'comparepage' %}" class="icon-image">Compare</a>
				<a href="#" class="icon-upload">Review</a>
				<a href="#" class="icon-star">Latest</a>
				<a href="#" class="icon-mail">Contact</a>
				<a href="#" class="icon-lock">Sign Up</a>
			</nav>
		</div><!-- /perspective -->
		<script src="{% static 'compare/js/classie.js' %}"></script>
		<script src="{% static 'compare/js/menu.js' %}"></script>
	</body>
</html>